.root {
  padding: 100px 0;
  .cart {
    display: flex;
    flex-direction: column;
    gap: 65px;

    .cart_title {
      display: flex;
      align-items: center; 
      gap: 65px;
    }

    .cart_items {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto;

      
    }
    .cart_bottom {
      display: flex;
      flex-direction: column;
      align-items: end;
      margin: 0 auto;
      gap: 25px;
      width: 80%;
      .total {
        font-size: 24px;
        font-weight: 300;
        span {
          font-weight: 400;
          padding-left: 30px;
        }
      }
    }
  }
}
